body {
	height: 100vh;
	display: grid;
	justify-content: space-between;
}
#ecom {
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 50px;
}
.test {
	height: 500px;
	width: 350px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	border: 0.2px solid black;
	border-radius: 8px;
	box-shadow: 10px 10px 10px black;
	font-size: small;
	font-style: oblique;
}
img {
	padding: 7px;
	height: 350px;
}
